*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    margin: 20px 0;
    padding: 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;

    &:nth-child(2) {
        margin-top: 50px;
    }
}

body {
    font-size: 15px;
    font-family: "system-ui";
    overflow-x: hidden;
    background-color: rgb(16, 14, 14);
}

header#header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 50px;
    background-color: red;
    transition: background-color 0.5s;
        
        h1 {
            font-size: 3rem;

            span {
                color: white;
                font-size: larger;
            }
        }

    nav.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.brand{
            width: 30rem;

            img{
                max-width: 35%;
            }
        }

        div.menu {
            button {
                font-size: 2rem;
                background-color: transparent;
                border: none;
                color:  black;
            }

            div.navbar {
                display: flex;
                align-items: center;
                flex-flow: column;
                min-height: 100vh;
                min-width: 20%;
                padding: 20px;
                background-color: rgb(255, 61, 61);
                position: absolute;
                top: 0;
                left: 100%;
                transition: left 0.5s;
                z-index: 999;

                a+a{
                    color: whitesmoke;
                    &:hover {
                        background-color: rgb(255, 98, 98);
                        color: white;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }

                &:nth-child(2){
                    width: 30rem;
                    text-align: center;
                    img{
                        max-width: 50%;
                    }
                }
            }

        }
    }
}

#banner{
    background-color: rgb(0, 0, 0);
    height: 300vh;
}