.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "system-ui";
    /* overflow: hidden; */
}
a {
    text-decoration: none;
    margin: 20px 0;
    padding: 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;

    &:nth-child(2) {
        margin-top: 50px;
    }
}

body {
    font-size: 15px;
    /* font-family: "system-ui"; */
    overflow: hidden;
    /* background-color: rgb(16, 14, 14); */
}

header#header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 50px;
    /* background-color: red; */
    transition: background-color 0.5s;
        
        h1 {
            font-size: 3rem;

            span {
                color: white;
                font-size: larger;
            }
        }

    nav.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.brand{
            width: 30rem;

            img{
                max-width: 35%;
            }
        }

        div.menu {
            button {
                font-size: 2rem;
                background-color: transparent;
                border: none;
                color:  white;
            }

            div.navbar {
                display: flex;
                align-items: center;
                flex-flow: column;
                min-height: 100vh;
                min-width: 20%;
                padding: 20px;
                background-color: rgb(255, 61, 61);
                position: absolute;
                top: 0;
                left: 100%;
                transition: left 0.5s;
                z-index: 999;

                a{
                    text-decoration: none;
                }

                a+a{
                    color: whitesmoke;
                    &:hover {
                        background-color: rgb(255, 98, 98);
                        color: white;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }

                &:nth-child(2){
                    width: 30rem;
                    text-align: center;
                    img{
                        max-width: 50%;
                    }
                }
            }

        }
    }
}

#banner{
    height: 100vh;
    background-image: url(./img/Inicio/Banner/Banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;

    h1{
        font-family: "Jersey 15", serif;
        font-size: 6rem;
        /* width: 65%; */
    }

    & > .row{
        transform: translateY(100%);
        transition: transform 1s;
    }
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburguesa {
    position: absolute;
    max-width: 80px;
    height: 80px;
    background: url('./img/Inicio/Banner/hamburguesa.png') no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    pointer-events: none;
    will-change: transform; /* Mejorar rendimiento en animaciones */
    transform-origin: center;
  }

  @media screen and (max-width: 768px) {
    #banner h1 {
        font-size: 3rem;
    }
    .hamburguesa{
        max-width: 50px;
        max-height: 50px;
    }
  }